.DiaryView-entryline{
    text-transform: capitalize;
}

.DiaryView-image{
    height: 35px;
    width: 35px;
    border-radius: 3px;
}

.bluebutton{
    background-color: #4318F2;
}

.redbutton{
    background-color: #F21859;
}

h4{
    font-weight: bold;
}