.SearchForm{
    font-family: 'Alice';
}

.SearchForm-header{
    background-color: #18F2B2;
}

.SearchForm-image{
    height: 35px;
    width: 35px;
}

.SearchForm-result{
    text-transform: capitalize;
}

.SearchForm-result:hover{
    cursor: pointer;
    background-color:antiquewhite;
}

.SearchForm-resultwrapper{
    border: 2px solid black;

}

@font-face {
    font-family: 'Alice';
    src: url('Alice-Regular.ttf');
}

.Search-listgroup{
    border-radius: 0px;

}

.result-header{
    background-color: #18F2B2;
}